.auth-container {

    .methods {
        background-color: white;
        width: 20%;
        height: 20%;
        margin: 300px auto 300px auto;
        justify-content: center;
        color: rgb(34, 32, 32);
    
        &-google {
            background-color: rgb(234, 131, 100);
            box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
            text-align: center;
            padding: 7px;
            cursor: pointer;
        }

        &-google:hover {
            background-color: rgb(237, 138, 108);
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3);
        }
    }
}